.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: black;
    color: #fff;
}
.section-image {
    object-fit: cover;
    height: 16rem !important;
    width: 100% !important;
}

.headFront {
	background-image: url("../img/portfolio/group.PNG");  width: 100%;
	  height: auto !important;
	  background-repeat: no-repeat !important;
	  background-size: cover !important;
}

.headFront: before{
	background: (0,0,0,0.5) !important;
	z-index: 3 !important;
}
.headFront:hover:before {
    background: none !important;
}

.haedFront subHeadFront{
	z-index: 4 !important;
}

.animated {
    animation-duration: 1s !important;
    animation-delay: 0s !important;
}

.rubberBand {
    animation-name: rubberBand;
}

.flipInY {
    animation-duration: 1s !important;
    animation-delay: 0.25s !important;
}

.lightSpeedIn{
animation-delay: 0.75s !important;
}

.masthead .masthead-avatar{
	width: 10rem;
}

.headIcon{
	width:6rem;
}
.rightlightspeedin{
    animation-direction: reverse !important;
	animation-delay: 1.25s !important;
}
.googleForms{
	text-align: center !important;
}